/* variables defined in globals.css */
.wrapper {
  display: grid;
  max-width: 100vw;
  /* width: 100vw; if you do this there will be a horizontal scroll */
  height: 100%;
  color: rgb(255, 255, 255);
  font: 1em Helvetica, arial, sans-serif;
  gap: 10px;
  margin: 0px auto;
  padding: 0px 20px;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.4) 1px, transparent 1px)
      0% 0% / 4px 4px,
    linear-gradient(rgba(0, 0, 0, 0.4) 1px, transparent 1px) 0% 0% / 4px 4px,
    linear-gradient(
        transparent 3px,
        rgb(242, 242, 242) 3px,
        rgb(242, 242, 242) 78px,
        transparent 78px
      )
      0% 0% / 80px 80px,
    linear-gradient(
        -90deg,
        transparent 3px,
        rgb(242, 242, 242) 3px,
        rgb(242, 242, 242) 78px,
        transparent 78px
      )
      0% 0% / 80px 80px,
    rgb(242, 242, 242);
    grid-template:
      "landing landing landing" 100vh
      "about about about" 100vh
      "experience experience experience" 100vh
      "projects projects projects" 100vh
      "footer footer footer" 10px / 1fr 4fr 1fr;
}


/* Media Queries */

/* Phone */
@media (max-width: var(--screen-xs)) {
  .wrapper {
    grid-template:
      "landing" 100vh
      "about" 100vh
      "experience" 100vh
      "projects" 100vh
      "footer" 10vh;
  }
}

/* Small Desktop */
@media (min-width: calc(var(--screen-sm) + 0.02px)) and (max-width: var(--screen-md)) {
  .wrapper {
    grid-template:
      "landing landing landing" 100vh
      "about about about" 100vh
      "experience experience experience" 100vh
      "projects projects projects" 100vh
      "footer footer footer" 10px / 1fr 3fr 1fr;
  }
}